<div class="container">
    <div class="row" style="margin-top:100px">
        <div class="col-md-12">
            <img src="./assets/img/loginPage.png" alt="Eureka!" style="width:100%" />
        </div>
    </div>

    <div class="row" style="margin-top:100px">
        <div class="col-md-8">
            <div>
                <div *ngIf="! user.name">
                    <h4 style="font-weight: normal">
                        Welcome to Eureka!
                    </h4>
                </div>

                <div *ngIf="user.name">
                    <h2>
                        Welcome, {{user.name}}
                    </h2>
                </div>

                <p>
                    Eureka aims to crowdsource cultural heritage from people's own experiences.
                </p>
                <p>
                    Rather than seeking historical truth in every piece of information, this project aims to let people provide whatever their knowledge is, even though conflicts with other people.
                </p>
                <p>
                    Share your listories now.
                </p>
                <!--      <p>
                            <a class="btn btn-primary btn-large" href="#">Learn more</a>
                        </p>
                    -->
            </div>
        </div>

        <div *ngIf="! user || ! user.token" class="col-md-4">
            <div *ngIf="! form.onRegister">
                <login-form [form]="form"></login-form>
            </div>
            <div *ngIf="form.onRegister">
                <register-form [form]="form"></register-form>
            </div>
        </div>
    </div>

</div>
